extends ../../layouts/common.pug
block content
  h1 View Transaction
  a(href='/transaction') transaction
  ul
    each value,key in tran
      li=key+': '+value
  each value,key in tran
      form(action='/transaction/'+tran.id+'/complete',method='POST')
        if(key=='iscomplete')
          button(name='iscomplete',value=tran['iscomplete'])
            span=tran['iscomplete']?'Trả sách':'Mượn sách'
block scripts          
