extends ../../layouts/common.pug
block content
  h1 create transaction
  form(action='/transaction/create',method='POST')
    span Users
    select(name='userId')
      if users
        each user in users
          option(value=user.id) #{user.name}
    span &nbsp
    span Books
    select(name='bookId')
      if books 
        each book in books
          option(value=book.id) #{book.name}
    span &nbsp
    button create
block scripts     
    