.App{
  text-align: center;
}

.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  margin: 20px;
}

.app_formControl{
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.app__input{
  flex: 10;
}

.app__iconButton{
  flex: 1 !important;
}